pom.xml
souffleuse.iws
souffleuse.iml
souffleuse.ipr
target/
ACET-PAPER/main.log
ACET-PAPER/main.aux
ACET-PAPER/main.log
ACET-PAPER/main.pdf
ACET-PAPER/main.synctex.gz
ACET-PAPER/main.bbl
ACET-PAPER/main.blg
ACET-PAPER/texput.log

# old skool
.svn
.hg

# os x
souffleuse.xcodeproj
.DS_Store
profile
build/*
.pbxuser
.modev1v3
target/*
ACET-PAPER/short.aux
ACET-PAPER/short.bbl
ACET-PAPER/short.blg
ACET-PAPER/short.log
ACET-PAPER/short.pdf
ACET-PAPER/short.synctex.gz
scala-compiler*
scala-library*

